button.css3button {
  
  font-family: Comics, Arial, Helvetica, sans-serif;
  
  font-weight: bolder;
    font-size: 14px;
    color: #000000;
    padding: 8px 20px;
    background: -webkit-gradient(
      linear, left top, left bottom,
      from(#ffffff),
      color-stop(0.50, #9dc98f),
      color-stop(0.33, #77c271),
      color-stop(0.65, #b8dbe0),
      to(#3d3a30));
    background: linear-gradient(
      top,
      #ffffff 0%,
      #9dc98f 50%,
      #77c271 33%,
      #b8dbe0 65%,
      #3d3a30);
    border-radius: 10px;
    border: 1px solid #ebebeb;
    box-shadow:
      0px 1px 3px rgba(255,255,255,0.5),
      inset 0px 0px 5px rgba(117,106,35,0.6);
    text-shadow:
      0px -1px 3px rgba(255,255,255,0.8),
      0px 1px 0px rgba(255,255,255,0.3);  
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font: 15px arial;
  background: rgba(117,106,35,0.6);
  color: rgba(0, 0, 0, .7);
}

.yoda {
  /* height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  flex: initial;
  flex-direction: column; */

  height: 407px;
  width: 374px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.yoda div {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, .3)
}


.botao {
  height: 10%;
  min-height: 10%;
}

.botao div {
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, .3)

}